<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fix Explainer</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fixes.css') }}"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leader-line/1.0.3/leader-line.min.js" integrity="sha512-aFBNsI3+D6ObLLtyKwdZPZzDbcCC6+Bh+2UNV8HC0R95BpcBT+dmmZ5NMpJi/Ic8uO0W7FGcg33IfuHg+7Ryew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='test_data.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='hw_data.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='logging.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='fixes.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='request_form.js') }}"></script>
</head>
<body>
    <div id="form_div">
        <form id="fix_form" onsubmit="return false;">
            <div>
                <label for="problem-select">Select the homework problem:</label>
                <select id="problem-select" name="problem" required>
                </select>
            </div>
            <!--label for="code">Incorrect student code: </label-->
            <div>
                <label>Incorrect student code:</label><br/>
            <textarea type="textarea" rows="4" cols="50" name="code" id="code" required>def count_lte(target, nums):
    count = 0
    for Num in len(nums):
        if num > 0 or num > target:
            count += 1
    return count
    </textarea>
            </div>
        </form>
        <button onclick="ajax_submit()">Generate Fix</button>
    </div>
    <hr/>
    <button onclick='animate_fix()'>>></button>
    <div id="code-div">
        <ul id="tab-titles"></ul>
    </div>
    <script type="text/javascript">
        load_sequence_data(test_3)
        // TODO: do this on each insert/change code
        highlight_nodes()
        apply_special_styling()


    </script>
</body>
</html>