<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fix Explainer</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fixes.css') }}"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leader-line/1.0.3/leader-line.min.js" integrity="sha512-aFBNsI3+D6ObLLtyKwdZPZzDbcCC6+Bh+2UNV8HC0R95BpcBT+dmmZ5NMpJi/Ic8uO0W7FGcg33IfuHg+7Ryew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='test_data.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='hw_data.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='fixes.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='retrieve_analysis.js') }}"></script>
</head>
<body>
    <button id='animate-button' onclick='animate_fix()'>>></button>
    <div id="code-div">
        <ul id="tab-titles"></ul>
    </div>
    <div id="syntax-error">
        <h1 id="error-header"></h1>
        <pre id="bad-code"></pre>
        <pre id="error-message"></pre>
    </div>
    <script type="text/javascript">
        load_data_from_db({{ request_id }})
    </script>
</body>
</html>