<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit new homework problem</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='fixes.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='submit_problem.css') }}"/>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leader-line/1.0.3/leader-line.min.js" integrity="sha512-aFBNsI3+D6ObLLtyKwdZPZzDbcCC6+Bh+2UNV8HC0R95BpcBT+dmmZ5NMpJi/Ic8uO0W7FGcg33IfuHg+7Ryew==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.12/ace.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='submit_form.js') }}"></script>
</head>
<body>
    <div id="errors">
        {% if syntax_error %}
            <div class="error-box" role="alert" id='syntax-error'>
                Syntax error in {{ which }}:
                <pre id="bad-code">{{ bad_code }}</pre>
                <pre id="error-message">{{error}}</pre>
                <br/>
                Please fix and resubmit.
            </div>
            <hr/>
            <script type="text/javascript">
                point_to_syntax_error({{ lineno }}, {{ offset }})
            </script>
        {% endif %}
        {% if test_failed %}
            <div class="error-box" role="alert" id='test-failed'>
                Some solutions do not pass all unit tests.
                <br/>
                For example, this solution:
                <pre id="failing-code">{{ failing_code }}</pre>
                fails this unit test:
                <pre id="failing-test">{{ failing_test }}</pre>
                <br/>
                Please fix and resubmit.
            </div>
            <hr/>
        {% endif %}
    </div>
    <div id="form_div">
        <form id="fix_form" method="post">
            <input type="hidden" name="problem_id"
            {% if prefilled %}
                value="{{prefilled.problem_id}}"
            {% else %}
                value=""
            {% endif %}
            >
            <div id='medatada'>
                <label for='homework'>Homework name or number (e.g. HW1):</label>
{% if prefilled %}
                <input type="text" name="homework" value="{{prefilled.homework}}" required>
{% else %}
                <input type="text" name="homework" required>
{% endif %}

                <br/>

                <label for='prob_name'>Problem name (e.g. name of function the student needs to implement):</label>
{% if prefilled %}
                <input type="text" name="prob_name" value="{{prefilled.prob_name}}" required>
{% else %}
                <input type="text" name="prob_name" required>
{% endif %}
            </div>

            <div id='correct_fields'>
                <label>Correct solution(s):</label><br/>

            </div>
            <button onclick="remove_correct_version(); return false">-</button>
            <button onclick="add_correct_version(); return false">+</button>

            <div id="test_setup_code">
                <label>Set-up code for unit tests:</label><br/>
                <textarea id="test_setup_code" type="textarea" rows="10" cols="70" name="test_setup_code"
                >{% if prefilled %}{{prefilled.test_setup_code}}{% endif %}</textarea>
                <!-- TODO: set up ACE editor for this one-->
            </div>

            <div id='test_fields'>
                <label>Unit test(s):</label><br/>

            </div>
            <button onclick="remove_unit_test(); return false">-</button>
            <button onclick="add_unit_test(); return false">+</button>
            <br/>
            <div id='practice_fields'>
                <label>(Optional) associated practice activities:</label><br/>
                <!-- TODO: prefilled! -->
            </div>
            <button onclick="remove_practice_activity(); return false">-</button>
            <button onclick="add_practice_activity(); return false">+</button>
            <br/>
            <hr/>
            <br/>
            <input type="submit" value="Submit">
        </form>
{% if prefilled %}
    <script>
    {% for correct in prefilled.correct %}
        add_correct_version(`{{ correct |safe}}`)
    {% endfor %}

    {% for test in prefilled.tests %}
            add_unit_test(`{{ test |safe}}`)
    {% endfor %}

    {% for practice_desc in prefilled.practice_descs %}
            add_practice_activity(page=`{{ prefilled.practice_pages[loop.index0] |safe}}`,
              exercise=`{{ prefilled.practice_activities[loop.index0] |safe}}`,
              desc=`{{ practice_desc |safe}}`)
    {% endfor %}

    </script>
{% endif %}
</div>
</body>
</html>